{ 
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 8rem; /* prevents overlap with fixed header */
}

.home h1{
  font-size: 5rem;
}

.home h3{
  font-size: 2.5rem;
  margin: 1rem 0;
}

.home p{
  font-size: 1.6rem;
  max-width: 600px;
}

header{
  margin-top: 20px;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover{
  transform: scale(1.1);
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav-links li a{
  font-size: 1.8rem;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover{
  color: #0077ff;
}

nav a{
  font-size: 1.8rem;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 3px solid transparent;

}

.social-icons{
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  font-size: 2.5rem;
}

.social-icons a{
  color: black;
  transition: 0.3s;
}

.social-icons a:hover{
  transform: scale(1.2);
  color: #0077ff;
}
