{ 
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: 'Poppins', sans-serif;
}

html{
  font-size: 56.25%;
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.home{
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 2rem 2rem;
}

.home h1{
  font-size: 3rem;
}

.home h3{
  font-size: 1.6rem;
  margin: 1rem 0;
}

.home p{
  font-size: 1.3rem;
  max-width: 45rem;
}

.home, .about{
  width: 100%;
}

header{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* forces compact header */
  padding: 0 2rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 6px rgba(0,0,0,0.08);
  z-index: 100;
}

.logo{
   flex: 0 0 auto;
  transition: 0.3s ease;
}

.logo a{
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logo:hover{
  transform: scale(1.1);
}

.logo span{
  font-size: 1rem;
  color: #0077ff;
}

h1, h2, h3{
  font-family: 'Playfair Display', serif;
}

nav{
 display: flex;
  align-items: center;
  width: 100%;
  gap: 3rem; /* THIS creates clean separation */
}

.nav-links{
 display: flex;
  list-style: none;
  gap: 3rem;
  margin-left: auto;
  padding: 0;
}

.nav-links li a{
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover{
  color: #0077ff;
}



.social-icons{
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
}

.social-icons a{
  color: black;
  font-size: 2rem;
  transition: 0.3s;
}

.social-icons a:hover{
  transform: scale(1.2);
  color: #0077ff;
}

section{
  padding: 8rem 7%;
  scroll-margin-top: 10rem;
}

.about{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
